<add-element-button
  id="add-workflow-element-button"
  [allowedElements]="[
    elementType.whileLoop,
    elementType.ifElse,
    elementType.doSomething
  ]"
  (addElementRequest)="addPrecedingElement($event)"
></add-element-button>
<div class="do-something-element-div">
  <button
    class="delete-button"
    mat-icon-button
    color="designer-accent"
    (click)="delete()"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <div
    class="do-something-element-description-div"
    *ngFor="let phrase of displayPhrases"
  >
    <span *ngIf="!isNumber(phrase)">{{ phrase }}</span>

    <div *ngIf="isNumber(phrase)" [ngSwitch]="getArgumentAt(phrase).dataType">
      <span *ngSwitchDefault>[PARAMETERTYPE NOT IMPLEMENTED]</span>
      <!--TODO: not a formfield; make a add-button for a logic-element ;-->
      <!-- the formfield overlaps the add button -->
      <mat-form-field
        *ngSwitchCase="robotDataType.number"
        class="workflow-element-parameter-form-field"
      >
        <input
          matInput
          type="number"
          (change)="parameterValueChanged($event.target, phrase)"
          class="align-text-center"
        />
      </mat-form-field>

      <mat-form-field
        *ngSwitchCase="robotDataType.boolean"
        class="workflow-element-parameter-form-field"
      >
        <mat-select
          class="align-text-center"
          (selectionChange)="parameterValueChanged($event, phrase)"
        >
          <mat-option [value]="true">ein</mat-option>
          <mat-option [value]="false">aus</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        *ngSwitchCase="robotDataType.custom"
        class="workflow-element-parameter-form-field"
      >
        <mat-select
          class="align-text-center"
          (selectionChange)="parameterValueChanged($event, phrase)"
        >
          <mat-option
            *ngFor="let optionValue of getArgumentAt(phrase).customValues"
            [value]="optionValue"
            >{{ optionValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
