.do-something-element-div
    background-color: white
    padding: 10px 20px
    text-align: left

.do-something-element-description-div
    display: inline-block

::ng-deep .workflow-element-parameter-form-field
    padding: 0 0.3em
    margin: -1.25em 0px

.align-text-center    
    text-align: center

.delete-button
    padding-right: 2em