<div
  class="trigger-element-div"
  [ngStyle]="{
    'border-radius':
      getFollowingElements().length == 0
        ? '25px 25px 25px 25px'
        : '25px 25px 0 0'
  }"
>
  {{ functionality.parameterizedDisplayName }}
</div>

<app-workflow-container
  [workflows]="getFollowingElements()"
></app-workflow-container>

<add-element-button
  id="new-workflow-button"
  [allowedElements]="[
    elementType.whileLoop,
    elementType.ifElse,
    elementType.doSomething
  ]"
  (addElementRequest)="addFollowingElement($event)"
></add-element-button>
