<div class="add-button-div">
  <button
    mat-fab
    color="designer-accent"
    [matMenuTriggerFor]="menu"
    aria-label="Neues Element hinzufügen"
  >
    <mat-icon>add</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div *ngFor="let element of robotFunctionalities | keyvalue">
      <button
        mat-menu-item
        *ngIf="element.value.length == 1"
        (click)="addElement(element.value[0])"
      >
        <mat-icon>{{ getIconFor(element.key) }}</mat-icon>
        <span>{{ element.value[0].displayName }}</span>
      </button>
      <div *ngIf="element.value.length > 1">
        <button mat-menu-item [matMenuTriggerFor]="secondMenu">
          <mat-icon>{{ getIconFor(element.key) }}</mat-icon>
          <span>{{ element.key }}</span>
        </button>
        <mat-menu #secondMenu="matMenu">
          <button
            mat-menu-item
            *ngFor="let e of element.value"
            (click)="addElement(e)"
          >
            {{ e.displayName }}
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-menu>
</div>
