<div
  class="add-button-div"
  (mousedown)="mousedown($event)"
  (mousemove)="mousemove($event)"
  (mouseup)="mouseup($event)"
>
  <button
    mat-fab
    color="designer-accent"
    [matMenuTriggerFor]="menu"
    aria-label="Example bntn wiuth menu"
  >
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check Voicemail</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="secondMenu">
      Hat nach Inhalt
    </button>
  </mat-menu>

  <mat-menu #secondMenu="matMenu">
    <button mat-menu-item>inhalt 1</button>
    <button mat-menu-item>inhalt 2</button>
  </mat-menu>
</div>
