<div id="debugger-div">
  <h1>Vorschau</h1>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab
      *ngFor="let previewGroup of previewGroups"
      [label]="previewGroup.name"
      [ngSwitch]="previewGroup.type"
    >
      <app-textual-workflow-preview
        *ngSwitchCase="previewGroupType.textual"
        [previewData]="previewGroup.previewData"
      ></app-textual-workflow-preview>
      <app-visual-workflow-preview
        *ngSwitchCase="previewGroupType.visual"
        [previewData]="previewGroup.previewData"
      ></app-visual-workflow-preview>
      <div *ngSwitchCase="previewGroupType.custom"></div>
    </mat-tab>
  </mat-tab-group>
</div>
