#designer-div
    border-color: black
    border-style: solid
    border-width: 1px
    height: calc(100% - 2px)
    
    background-image: radial-gradient(black 5%, transparent 10%)
    background-size: 20px 20px

.workflow-div
    border: 1px solid magenta
    padding: 20px
    float: left
    min-width: 200px

.element-div
    padding: 10px 30px
    font-size: 2em
    border: 1px solid green
    text-align: center
    