<mat-stepper [linear]="true" #stepper>
  <mat-step>
    <div class="stepper-content-div">
      <ng-template matStepLabel>Willkommen</ng-template>
      <h1>
        Hallo, ich bin <strong>{{ robotAdapter.name }}</strong
        >!
      </h1>
      <h1>möchtest du mich programmieren?</h1>
      <br />
      <div>
        <button mat-button matStepperNext>Ja!</button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="nameFormGroup" label="Name eingeben">
    <form [formGroup]="nameFormGroup">
      <h1>Dann verrate mir bitte deinen Namen:</h1>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button (click)="commit()">Loslegen</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
