<div class="button-row">
  <button
    *ngIf="!robotIsOn"
    id="turn-robot-on"
    mat-raised-button
    (click)="turnOn()"
  >
    Einschalten
  </button>
  <button
    *ngIf="robotIsOn && isPreviewMode"
    id="run-button"
    mat-raised-button
    (click)="run()"
  >
    Ausführen
  </button>
  <button
    *ngIf="robotIsOn && isPreviewMode"
    id="step-button"
    mat-raised-button
    (click)="step()"
  >
    Schritt ausführen
  </button>
</div>

<!-- alle anzeigen und der der current Step ist dann hervorheben-->

<table *ngIf="robotIsOn" cellspacing="0">
  <tr
    *ngFor="let element of previewData.script; let i = index"
    [class]="i == currentStep ? 'highlighted' : ''"
  >
    <td style="width: 50px !important; padding-left: 10px">
      {{ i == currentStep ? "➤" : "" }}
    </td>
    <td [style]="'padding-left: ' + 20 * (element.intention + 1) + 'px'">
      {{ element.text }}
    </td>
  </tr>
</table>
