<div id="toolbar-div">
  <button mat-button *ngIf="previewAvailable" (click)="openPreview()">
    Vorschau
  </button>
  <button mat-button *ngIf="executeAvailable" (click)="runWorkflows()">
    Starten
  </button>
  <button mat-button *ngIf="false" (click)="saveWorkflows()">Speichern</button>
  <button mat-button *ngIf="false" (click)="fileUpload.click()">Öffnen</button>
  <button mat-button (click)="logout()" (contextmenu)="reset()">
    Abmelden
  </button>
</div>
<div id="main-content">
  <div id="designer-div" class="main-component-div">
    <app-designer id="designer-component"></app-designer>
  </div>
  <div id="debugger-div" class="main-component-div">
    <app-debugger [previewGroups]="availablePreviews"></app-debugger>
  </div>
</div>

<input
  hidden
  #fileUpload
  accept=".hka"
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
/>
