<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="selectRobotFormGroup">
    <form [formGroup]="selectRobotFormGroup">
      <h1>Welcher Roboter soll programmiert werden?</h1>
      <br />
      <ng-template matStepLabel>Roboter wählen</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Roboter wählen</mat-label>
        <mat-select
          matInput
          formControlName="selectedRobot"
          (selectionChange)="refreshParametersForRobot($event.value)"
        >
          <mat-option *ngFor="let robot of robots" [value]="robot">
            {{ robot.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="parameterFormGroup" label="Parameter definieren">
    <form [formGroup]="parameterFormGroup">
      <div *ngIf="selectRobotFormGroup.value.selectedRobot">
        <h1>
          Es wird
          {{ selectRobotFormGroup.value.selectedRobot.name }} programmiert.
          Hierfür werden
          {{ selectRobotFormGroup.value.selectedRobot.parameter.length }}
          Parameter benötigt:
        </h1>
        <mat-form-field
          appearance="fill"
          *ngFor="
            let parameter of selectRobotFormGroup.value.selectedRobot.parameter;
            let indexOfelement = index
          "
        >
          <mat-label>{{ parameter.name }}</mat-label>
          <input
            *ngIf="parameter.valueType === 'string'"
            matInput
            [formControlName]="'parameter' + (indexOfelement + 1)"
          />
          <mat-select
            *ngIf="parameter.valueType === 'boolean'"
            [formControlName]="'parameter' + (indexOfelement + 1)"
          >
            <mat-option [value]="true">Ja</mat-option>
            <mat-option [value]="false">Nein</mat-option>
          </mat-select>
          <input
            *ngIf="parameter.valueType === 'number'"
            matInput
            type="number"
            [formControlName]="'parameter' + (indexOfelement + 1)"
          />
        </mat-form-field>
        <mat-form-field class="cdk-visually-hidden">
          <mat-label
            >wird nie angezeigt. ist erforderlich, weil eine Form mindestens ein
            form-field haben muss</mat-label
          >
          <input matInput formControlName="parameter0" />
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button (click)="validateParameterAndGoToNextStep(stepper)">
          Weiter
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="parameterFormGroup"
    label="Administrator Passwort festlegen"
  >
    <form [formGroup]="passwordFormGroup">
      <h1>
        Zum Abschluss der Einrichtung muss ein Passwort gesetzt werden, damit
        Benutzer nicht auf die Einstellungen der Anwendung zugreifen können
      </h1>

      <mat-form-field appearance="fill">
        <mat-label>Passwort für Einstellungen</mat-label>
        <input matInput formControlName="masterPassword" type="password" />
      </mat-form-field>
      <p>
        Falls das Passwort verloren geht, kann jederzeit das Masterpasswort aus
        dem Handbuch verwendet werden
      </p>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button (click)="commit()">Abschließen</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
